paths:
  - path_to_data: 'temporary_output/' # Path to files to process
  - path_to_sirius: 'sirius/bin' # Path to sirius executable (default is 'sirius').
options:
  - sirius_version: 5 # Sirius version: 4 or 5
  - ionization: 'pos' # Ionization mode to process: pos or neg
  - sirius_command_arg:  "-i {file} --output {output_name} --maxmz 800 config --IsotopeSettings.filter=true --FormulaSearchDB=BIO --Timeout.secondsPerTree=0 \
--FormulaSettings.enforced=HCNOP --Timeout.secondsPerInstance=0 --AdductSettings.detectable=[[M+Na]+,[M+H3N+H]+,[M-H4O2+H]+,[M+K]+,[M+H]+,[M-H2O+H]+] \
--UseHeuristic.mzToUseHeuristicOnly=650 --AlgorithmProfile=orbitrap --IsotopeMs2Settings=IGNORE --MS2MassDeviation.allowedMassDeviation=5.0ppm \
--NumberOfCandidatesPerIon=1 --UseHeuristic.mzToUseHeuristic=300 --FormulaSettings.detectable=B,Cl,Br,Se,S --NumberOfCandidates=10 \
--ZodiacNumberOfConsideredCandidatesAt300Mz=10 --ZodiacRunInTwoSteps=true --ZodiacEdgeFilterThresholds.minLocalConnections=10 \
--ZodiacEdgeFilterThresholds.thresholdFilter=0.95 --ZodiacEpochs.burnInPeriod=2000 --ZodiacEpochs.numberOfMarkovChains=10 --ZodiacNumberOfConsideredCandidatesAt800Mz=50 \
--ZodiacEpochs.iterations=20000 --AdductSettings.enforced=, --AdductSettings.fallback=[[M+Na]+,[M-H+K+K]+,[M+K]+,[M+H]+,[M-H2O+H]+] \
--FormulaResultThreshold=true --InjectElGordoCompounds=true --StructureSearchDB=BIO --RecomputeResults=false \
formula zodiac fingerprint structure canopus write-summaries --output {output_name}"
        # Don't change input and output parameters
  - recompute: True # Recompute files for which output directory (with the same prefix) already exists: True of False (no quotes)
  - zip_output: True # Zip individual features outputs to save disk space: True of False (no quotes)
  - sirius_user_env: SIRIUS_USERNAME
  - sirius_password_env: SIRIUS_PASSWORD

# Example command for sirius 4:

# pos
# sirius -i {file} --output {output_name} --maxmz 800 formula --ppm-max 10 \
# --profile orbitrap --candidates 10 --tree-timeout 50 --compound-timeout 500 --ions-considered [M+H3N+H]+,[M+H]+,[M+K]+,[M+Na]+,[M+NH4]+ \
# --ions-enforced [M+H]+ zodiac structure --database bio canopus

# Example command for sirius 5:

# pos
# "sirius -i {file} --output {output_name} --maxmz 800 formula --ppm-max 10 \
# --profile orbitrap --candidates 10 --tree-timeout 50 --compound-timeout 500 --ions-considered [M+H3N+H]+,[M+H]+,[M+K]+,[M+Na]+,[M+NH4]+ \
# --ions-enforced [M+H]+ zodiac fingerprint structure --db bio canopus write-summaries --output {output_name}"

# neg
# "sirius -i {file} --output {output_name} --maxmz 800 formula --ppm-max 10 \
# --profile orbitrap --candidates 10 --tree-timeout 50 --compound-timeout 500 --ions-considered [M-H+K-H]-,[M-H]-,[M-H+Na-H]- \
# --ions-enforced [M-H]- zodiac fingerprint structure --db bio canopus write-summaries --output {output_name}"


# sirius -i {file} --output {output_name} --maxmz 800 config --IsotopeSettings.filter=true --FormulaSearchDB=BIO --Timeout.secondsPerTree=0 \
# --FormulaSettings.enforced=HCNOP --Timeout.secondsPerInstance=0 --AdductSettings.detectable=[[M+Na]+,[M+H3N+H]+,[M-H4O2+H]+,[M+K]+,[M+H]+,[M-H2O+H]+] \
# --UseHeuristic.mzToUseHeuristicOnly=650 --AlgorithmProfile=orbitrap --IsotopeMs2Settings=IGNORE --MS2MassDeviation.allowedMassDeviation=5.0ppm \
# --NumberOfCandidatesPerIon=1 --UseHeuristic.mzToUseHeuristic=300 --FormulaSettings.detectable=B,Cl,Br,Se,S --NumberOfCandidates=10 \
# --ZodiacNumberOfConsideredCandidatesAt300Mz=10 --ZodiacRunInTwoSteps=true --ZodiacEdgeFilterThresholds.minLocalConnections=10 \
# --ZodiacEdgeFilterThresholds.thresholdFilter=0.95 --ZodiacEpochs.burnInPeriod=2000 --ZodiacEpochs.numberOfMarkovChains=10 --ZodiacNumberOfConsideredCandidatesAt800Mz=50 \
# --ZodiacEpochs.iterations=20000 --AdductSettings.enforced=, --AdductSettings.fallback=[[M+Na]+,[M-H+K+K]+,[M+K]+,[M+H]+,[M-H2O+H]+] \
# --FormulaResultThreshold=true --InjectElGordoCompounds=true --StructureSearchDB=BIO --RecomputeResults=false \
# formula zodiac fingerprint structure canopus write-summaries --output {output_name}
